<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810014649065-vctdvnpm8pqi4crmd3noih2nk4p08ga6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810014649065-vctdvnpm8pqi4crmd3noih2nk4p08ga6</string>
	<key>API_KEY</key>
	<string>AIzaSyA4bQB7K6Kfp5TxEvgPzL0e4j87XBWYb8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>810014649065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pushpank.RideShare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-a0a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-a0a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810014649065:ios:15752c7227f8bb9b855e78</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-a0a9b.firebaseio.com</string>
</dict>
</plist>